/* TODO: Look up Google Fonts and import a playful/display font for the page title */
/* TODO: Apply your chosen font to the h1 element */

body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-family: "Cedarville Cursive", cursive;
  text-align: center;
  font-size: 48px;
  color: yellow;
  padding: 0;
  border: 0;
  margin: 0;
}

label {
  font-family: "Cedarville Cursive", cursive;
}

.outside {
  background-color: rgb(220, 0, 0);
  /* height: 750px; */
  width: 750px;
  padding: 0 120px 20px 120px;
  border-radius: 20px;
  margin-top: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 10px 10px rgb(150, 0, 0);
}

button {
  font-family: "Cedarville Cursive", cursive;
  margin-left: 10px;
  padding: 0;
  margin-bottom: 5px;
  font-size: 25px;
}

.resize {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 750px;
  width: 750px;
  border: 1px solid black;
  background-color: white;
}

.row {
  display: flex;
}

.square {
  padding: 0px;
  margin: 0px;
  border: 1px gray solid;
}

/* .square:hover {
    background-color:black;
} */

.square:focus {
  background-color: black;
}

.content {
  display: flex;
}

.side {
  width: 20vw;
}

.knob-container {
  display: flex;
  justify-content: space-between;
  width: 120%;
}

.knobs {
  background-color: white;
  height: 75px;
  width: 75px;
  margin-top: 25px;
  box-shadow: inset 0 0 5px 5px rgb(192, 179, 179);
  border-radius: 50%;
}
